// ghidra/server/jaas.conf
auth {
    re.mkw.srejaas.PanelLoginModule REQUIRED
        JDBC="jdbc:sqlite:/path/to/ghidra_panel.db"
        // or: JDBC="jdbc:postgresql://host/ghidra_panel?user=...&password=..."
    ;
};
