<nav class="container-fluid">
  <ul>
    {{ range $nav := .Nav }}
    <li>
      <a href="{{ $nav.Route }}">{{ $nav.Name }}</a>
    </li>
    {{ end }}
  </ul>
  {{ if .Identity }}
  <ul>
    <li><a href="/logout">Logout</a></li>
  </ul>
  {{ end }}
</nav>
